/*
   * Navbar
   */
.navbar {
  z-index: 2;
}
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); */
}
.navbar-brand:hover {
  color: #fff !important;
}
.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
    right: 0;
    */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 1; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.nav-link {
  font-family: "Noto Sans Thai";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.nav-link.active {
  color: var(--Primary-Text, #005eff);
  background: #def3f8;
}
.breadcrumb {
  margin: 25px 0 32px 0;
}

.breadcrumb-item a {
  color: var(--System-Semi-Black, #151515) !important;
  font-family: "Noto Sans Thai";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: var(--System-Semi-Black, #151515);

  font-family: "Noto Sans Thai";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

/* icon */
.right-gray-icon::after {
  content: "";
  background-image: url("./../images/icons/right-gray.svg");
  width: 24px;
  height: 20px;
  display: inline-block;
}

.text-red {
  color: #e4002b;
  font-family: "Noto Serif Thai";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 178.571% */
}
.text-green {
  color: #07b963;
  font-family: "Noto Serif Thai";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 178.571% */
}
.text-gray {
  color: var(--Body-Grey, #73706e);
  text-align: center;
  font-family: "Noto Serif Thai";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 178.571% */
}
.btn-verify {
  border-radius: 40px;
  background: #0d66d0;
  height: 33px;
  color: var(--White, #fff);
  font-family: "Noto Serif Thai";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  width: 109px;
}
.btn-verify:hover {
  color: var(--White, #fff);
}
.btn-view {
  border-radius: 40px;
  background: #fff;
  height: 33px;
  color: #000;
  font-family: "Noto Serif Thai";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #000;
  width: 109px;
}
.btn-view:hover {
  color: #000;
}
