.banner {
  width: 100%;
  padding: 24px;
  border-radius: 30px;
}
.topspander-section {
  margin: 24px;
  padding: 32px 16px 64px 16px;
  border-radius: 16px;
  background: #fff;
}
.topspander-section > h2 {
  color: var(--Primay-Breeze, #072e70);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 32px;
}
.topspander-section > div > h3 {
  color: var(--Primay-Breeze, #072e70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.topspander-section > div > h4 {
  color: var(--Breeze-blue, #46bdde);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.line {
  background: #e7e7e7;
  width: 100%;
  height: 0.5px;
  margin-bottom: 8px;
}
.point-text {
  color: var(--Breeze-blue, #46bdde);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.title-detail {
  color: var(--Breeze-blue, #46bdde);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.btn-link {
  color: var(--Breeze-green, #46bdde);
}
.btn-link:hover {
  color: var(--Breeze-green, #46bdde);
}
.btn-link::after {
  background-image: url("../images/icons/right-blue.svg");
}
