.content-block {
  flex: 1 !important;
  flex-direction: column;
  display: flex;
  padding-top: 32px;
}
.title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}
.nav.nav-pills {
  display: flex;
  justify-content: center;
  padding: 0;
  border-bottom: 1px solid #fff;
}
.nav-link {
  color: var(--White, #fff);
  font-weight: 400;
  border-radius: 0;
  position: relative;
  background: none;
  transition: color 0.2s ease;
  padding: 12px 0;
  font-size: 16px;
}
.nav-link:hover {
  color: var(--White, #fff);
  opacity: 0.8;
}
.nav-link.active {
  color: var(--White, #fff);
  font-weight: 700;
  background: none;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background-color: var(--Breeze-green, #46bdde);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 0.3s ease;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--White, #fff);
  background: none !important;
}
.history-item {
  padding: 0 16px;
  margin-top: 32px;
}
.history-title {
  padding: 0 24px;
  color: var(--Vaseline, #0f4987);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.more-link {
  color: var(--Breeze-green, #46bdde);
  font-weight: 700;
  text-decoration: none;
}
.more-link:hover {
  color: var(--Breeze-green, #46bdde);
  opacity: 0.8;
}
.history-title-section {
  height: 60px;
}
.content-block {
  flex: 1 !important;
  flex-direction: column;
  display: flex;
}
.no-transaction {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}
.no-history-photo {
  width: 45px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.nohistory-title {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 24px;
}
.nohistory-detail {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.modal-content {
  margin: 0 24px;
  padding: 32px 24px;
  border-radius: 8px;
}
.modal-title {
  color: var(--Primay-Dark-Blue, #1b355b);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
}
.modal-sub-title {
  color: var(--Black-100, #000);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
}
.btn-cancel {
  color: var(--Vaseline, #0f4987);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
}

.btn-cancel:focus {
  outline: none;
  box-shadow: none;
}

.btn-cancel:hover {
  color: var(--Vaseline, #0f4987);
  opacity: 0.8;
}
