.items {
  margin-bottom: 8px;
  border-radius: 8px;
  background: #fff;
  padding: 12px;
}
.datetime {
  color: var(--Breeze-blue, #46bdde);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.item-detail {
  color: var(--Black-80, #333);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.merchantname {
  color: var(--Breeze-green, #46bdde);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.process {
  display: flex;
  align-items: center;
  color: var(--Black-100, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.price {
  color: var(--Breeze-blue, #46bdde);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.time-icon {
  content: "";
  background-image: url("../images/icons/time.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.resend-link {
  color: var(--Primay-Breeze, #072e70);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.resend-link:hover {
  color: var(--Primay-Breeze, #072e70);
  opacity: 0.8;
}
.reject-icon::before {
  content: "";
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
  border-top-color: #fff;
}
.tooltip-inner {
  color: #000;
  background-color: #fff;
}
.reject-link {
  font-size: 14px;
  color: var(--System-Negative, #f03434);
  display: flex;
  align-items: center;
  margin-right: 8px;
  text-decoration: none;
}
.reject-link:hover {
  color: var(--System-Negative, #f03434);
}
