main {
  background: var(--Breeze-BG, #190c37);
}
.content-block {
  padding: 0 !important;
  padding-bottom: 32px !important;
  margin-top: 0 !important;
}
.btn-main:focus {
  outline: none;
  box-shadow: none;
}
.regis-section,
.remark-section {
  padding: 24px;
}
.term-section {
  padding-top: 32px;
  padding-bottom: 16px;
}
.remark,
.remark-list li {
  color: var(--White, #fff);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.modal-title {
  color: var(--Vaseline, #0f4987);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}
.term-content {
  height: 555px;
  overflow-y: auto;
  border-radius: 8px;
  border: 1px solid var(--System-Grey, #e7e7e7);
  padding: 16px;
}
.modal-footer {
  border-top: none;
}
.term-detail {
  color: var(--Black-100, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
a,
a:hover {
  color: var(--Black-100, #000) !important;
  word-break: break-all;
}
.form-check-label {
  color: var(--Black-100, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
@media only screen and (max-width: 769px) {
  .term-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
