.content-block {
  padding-bottom: 150px !important;
}
h3 {
  font-size: 20px;
}
.lucky-link {
  padding: 0 39px;
}
.point-section {
  border-radius: 20px;
  background: #fff;
  color: var(--Primay-Breeze, #072e70);
  text-align: center;
  margin: 0px 24px;
  padding: 16px;
}
.point-section > div > h1 {
  font-size: 40px;
  color: var(--Breeze-green, #46bdde);
}
.point-section > div > p {
  color: var(--Primay-Breeze, #072e70);
  font-size: 12px;
  font-style: normal;
}
.btn-clear-red {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  height: 56px;
}
.topspander-section {
  padding: 16px 0 24px 0;
  border-radius: 16px;
  background: #fff;
}
.topspander-section > div > h3 {
  color: var(--Primay, #072e70);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.topspander-section > div > h4 {
  color: var(--Breeze-green, #46bdde);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.btn-point-section {
  margin-bottom: 8px;
}
.line {
  background: #e7e7e7;
  width: 100%;
  height: 0.5px;
  margin-bottom: 8px;
}
.rule-section {
  margin: 32px 34px 0 34px;
}
.history-item {
  padding: 0 !important;
}
.items {
  margin-bottom: 8px !important;
}
.btn-outline-section {
  margin-top: 24px;
}
