#profilePopup {
  background-color: #fff;
  color: #fff;
}
.modal-header {
  border-bottom: none;
  padding: 0;
}
.modal-header > div {
  background: var(--Primay-Breeze, #072e70);
}
.modal-body {
  padding: 0;
}
.modal-body > form > div {
  height: 100%;
  background-image: url("../images/background/bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 2rem;
}
.modal-content-profile {
  background: none;
}
.btn-close {
  margin: 0 !important;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}
.modal-header-profile {
  border-bottom: none;
}
#profile-title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.address-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}
label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.form-control {
  height: 69px;
}
.select2-container--bootstrap-5 .select2-selection--single {
  height: 69px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: flex !important;
  align-items: center;
  height: 100%;
}
.profile-save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.cancel-link {
  color: var(--White, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.cancel-link:hover {
  color: var(--White, #fff);
  opacity: 0.8;
}
.phone-input {
  background-image: url("../images/icons/phone.svg") !important;
  background-position: 14px center !important;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 44px !important;
  background-size: 20px !important;
}
