.content-block {
  padding: 32px 24px;
}
.term-title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}
.term-sub-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.term-detail {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.term-remark {
  color: var(--System-Negative, #f03434);
  font-size: 16px;
  font-style: normal;
}
a,
a:hover {
  color: var(--White, #fff);
  word-break: break-all;
}
